$site-background-color: #292f33;
$site-text-color: #fff;

$site-footer-background-color: rgba(0, 0, 0, 0.3);
$site-footer-border-color: rgba(0, 0, 0, 0.5);

 $site-pagination-border-color: $site-footer-border-color;
