---
layout: base
---

<article class="container-full">
  <div class="columns is-multiline posts-list is-gapless">
    {% for post in paginator.posts %}
      {% unless post.draft %}
        <section class="index column is-4">
            <a href="{{ post.url }}" rel="prefetch">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="http://res.cloudinary.com/websiddu/image/upload/w_800,h_800,c_fill/photos/{{post.cover_image}}.jpg" alt="{{post.title}}">
                  </figure>
                </div>
                <div class="card-content">
                  <h2 class="title">{{ post.title }}</h2>
                  <p>{{ post.subtitle }}</p>
                </div>
              </div>
            </a>
        </section>
      {% endunless %}
    {% endfor %}
  </div>
    <section class="pagination" style="text-align:center">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" class="btn btn-outline">‹ Newer</a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
        {% endif %}
      {% endif %}
      {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
      {% endif %}
    </section>
</article>
