body {
  // background-color: white;
  background: $site-background-color;
  color: $site-text-color;
  transition: .3s background ease-in;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-item img {
  max-height: 20px;
}

.nav-item.is-brand img {
  max-height: 36px;
}

.nav-item a, a.nav-item {
  color: $site-nav-color;
  &:hover, &:focus {
    color: $site-nav-hover-color;
  }
}

.is-direction {
  margin-left: -10px;
}

.is-sub-brand {
  margin-left: -8px;
  img {
    padding-top: 2px;
    max-height: 20px;
  }
}

.sub-logo {
  fill: #fff;
  max-height: 20px;
}

.site-nav {
  .nav {
    background: $site-nav-bg-color;
    padding: 0 1rem;
    box-shadow: $site-nav-shadow;
  }
}

.site-footer {
  min-height: 120px;
  background: $site-footer-background-color;
  border-top: solid 1px $site-footer-border-color;
  padding: 2rem 0;
  p {
    font-size: 1.1rem;
    margin: 0;
  }
}

.page-navigation {
  background: $site-pagination-bg-color;
  border-top: solid 1px $site-pagination-border-color;
  margin-top: 4rem;
}

.page-navigation-content {
  padding: 2rem 5px 4rem;
}

.page-navigation-content h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
