
body {
  // background-color: white;
  background: $site-background-color;
  color: $site-text-color;
  transition: .3s background ease-in;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  line-height: 1.65;
  min-height: 500px;
  font-size: 100%;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto 0;
}


.site-footer {
  height: 120px;
  background: $site-footer-background-color;
  align-items: center;
  display: flex;
  margin-top: 4rem;
  border-top: solid 1px $site-footer-border-color;
}
