---
layout: base
---

<article>

    <div class="container ">


        <header>
            <!--<div class="meta">
                By <address><a rel="author" href="{{ page.author.link }}" title="{{ page.author.name }}" target="_blank">{{ page.author.name }}</a></address> &mdash;
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>-->
            <h1 class="page-title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="page-subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        {% if page.cover_image %}
        <div class="article-cover">
            <div>
                {% photoset %}
                    {% picture_set {{page.cover_image}}%}
                {% endphotoset %}
            </div>
        </div>
        {% endif %}

        <section>
            {{ content }}
            {% include _social.html %}
        </section>

        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
    </div>
</article>



<div class="page-navigation">
    <div class="container">
        <div class="page-navigation-content">
            <h2> More albums </h2>
            <div class="posts-list">
                <div class="columns">
                    {% if page.previous.previous.url %}
                        <section class="index column">
                            <a href="{{ page.previous.previous.url }}">
                            <div class="card">
                                <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="http://res.cloudinary.com/websiddu/image/upload/c_fill,w_1000,h_750/photos/{{page.previous.previous.cover_image}}.jpg" alt="{{post.title}}">
                                </figure>
                                </div>
                                <div class="card-content">
                                <h2 class="title">{{ page.previous.previous.title }}</h2>
                                </div>
                            </div>
                            </a>
                        </section>
                    {% endif %}
                    {% if page.previous.url %}
                    <section class="index column">
                        <a href="{{ page.previous.url }}">
                        <div class="card">
                            <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="http://res.cloudinary.com/websiddu/image/upload/c_fill,w_1000,h_750/photos/{{page.previous.cover_image}}.jpg" alt="{{post.title}}">
                            </figure>
                            </div>
                            <div class="card-content">
                            <h2 class="title">{{ page.previous.title }}</h2>
                            </div>
                        </div>
                        </a>
                    </section>
                    {% endif %}
                    {% if page.next.url %}
                    <section class="index column">
                        <a href="{{ page.next.url }}">
                        <div class="card">
                            <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="http://res.cloudinary.com/websiddu/image/upload/c_fill,w_1000,h_750/photos/{{page.next.cover_image}}.jpg" alt="{{post.title}}">
                            </figure>
                            </div>
                            <div class="card-content">
                            <h2 class="title">{{ page.next.title }}</h2>
                            </div>
                        </div>
                        </a>
                    </section>
                    {% endif %}
                    {% if page.next.next.url %}
                        <section class="index column">
                            <a href="{{ page.next.next.url }}">
                            <div class="card">
                                <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="http://res.cloudinary.com/websiddu/image/upload/c_fill,w_1000,h_750/photos/{{page.next.next.cover_image}}.jpg" alt="{{post.title}}">
                                </figure>
                                </div>
                                <div class="card-content">
                                <h2 class="title">{{ page.next.next.title }}</h2>
                                </div>
                            </div>
                            </a>
                        </section>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
